.header {
    background-image: url("../../images/backgroundImage.png");
    background-size: cover;

    padding-left: 100px;
    padding-right: 100px;
    height: 100vh;
}

.container {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hedaer_content{
    display: flex;
    align-items: end;
    height: 90vh;
}

.header_title {
    height: 500px;
    width: 40%;
    color: #ffffff;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 50px;
}

.title h1 {
    font-size: 4.8em;
}

.subtitle {
    width: 120%;
}

.orange {
    color: #ef7923;
}

.custom_button {
    display: inline-flex;
    border-radius: 8px;
    margin-right: 50px;
}

.title_buttons {
    display: flex;
}

.custom_button:hover {
    cursor: pointer;
}

.btn_right {
    background-color: #db650f;
    padding: 13px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.btn_left {
    background-color: #ef7923;
    padding: 13px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn_left:hover {
    background-color: #db650f;
}

.arrow-up {
    display: inline-block;
    transform: rotate(320deg);
}

.radius_btn {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ffffff28;
    border-radius: 100%;
    width: 55px;
    padding: 15px;
    color: #ffffff;
    margin-right: 5px;
}

.radius_btn:hover {
    color: #ef7923;
    cursor: pointer;
    border: 1px solid #ef7923;
}