@{
ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/home/sect1.css">
    <link rel="stylesheet" href="~/css/home/sect2.css">
    <link rel="stylesheet" href="~/css/home/sect3.css">
    <link rel="stylesheet" href="~/css/home/sect4.css">
    <link rel="stylesheet" href="~/css/home/responsiveHome.css">
</head>

<div class="header">
    <div class="container">
        <div class="hedaer_content">
            <br><br><br><br><br>
            <div class="header_title">
                <span><span class="orange">01</span>/05</span>
                <br>
                <div class="title">
                    <h1>YÜKSEK</h1>
                    <h1>PERFORMANS</h1>
                </div>
                <div class="subtitle">
                    <p>
                        Endüstriyel kaynak makinelerinde üstün kalite ve performansla güçlü
                        bağlantılar oluşturun. İşinizde sağlam ve kalıcı çözümler için
                        buradayız.
                    </p>
                </div>
                <br>
                <div class="title_buttons">
                    <div class="custom_button">
                        <div class="btn_left">ÜRÜNLERİ İNCELE</div>
                        <div class="btn_right">
                            <span class="arrow-up"><i class="fa-solid fa-arrow-right"></i></span>
                        </div>
                    </div>

                    <button class="radius_btn">
                        <span><i class="fa-solid fa-arrow-left"></i></span>
                    </button>
                    <button class="radius_btn">
                        <span><i class="fa-solid fa-arrow-right"></i></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="container">
        <div class="main_content">

            <div class="left_section">
                <div class="responsive_main">
                    <div class="about">
                        <h2 class="subtitle_2">
                            HAKKIMIZDA <i class="fa-solid fa-arrow-right i_title"></i>
                        </h2>
                        <br>
                        <img class="rescaleImg" src="~/images/img1.png" alt="" />
                    </div>
                    <br><br>
                    <p style="font-weight: bold; color: #a6a6a6">
                        <span class="highlight">Bir asrı aşan deneyimimizle, so</span>n
                        teknoloji ürünlerden kapsamlı kaynak süreçlerine ve otomatik çözümlere
                        kadar geniş bir yelpazede hizmet sunuyoruz.
                    </p>
                </div>
                <div class="experience">
                    <div class="time_number">
                        <div><span class="plus">+</span><span class="time">24</span></div>
                        <span style="width: 110%; letter-spacing: 2px">YILLIK TECRÜBE</span>
                    </div>
                    <div>
                        <p class="exp_parag">
                            Uzman ekibimiz, işinizin ihtiyaçlarına özel kaynak çözümlerini
                            sizinle birlikte belirleyerek yatırımınızdan en yüksek verimi
                            almanızı sağlar.
                        </p>
                    </div>
                </div>
            </div>
            <div class="right_section">
                <div class="responsive_main">
                    <div class="right_title">
                        <h1>
                            KÜRESEL ÇAPTA LİDERL<span style="color: #cccccc">ERE GÜÇ KATAN ÇÖZÜMLER ÜRETİYORUZ</span>
                        </h1>
                    </div>
                    <div class="">
                        <img class="rescaleImg" src="~/images/img2.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="products">
    <div class="container">
        <div class="products_content">
            <div class="products_title">
                <div class="pt_left">
                    <h2>
                        Deneyimli ekibimiz, işiniz için en uygun kay<span style="color: #6e6b6a">nak çözümlerini
                            belirleyerek yatırımlarınızın en yüksek getiriyi
                            sağlamasına yardımcı olur.</span>
                    </h2>
                </div>
                <div class="pr_title">
                    <h2 class="subtitle_2">
                        TÜM ÜRÜNLER <i class="fa-solid fa-arrow-right i_title"></i>
                    </h2>
                </div>
            </div>
            <br /><br /><br />
            <div style="color: #4c4847">
                <ul id="product_list" class="product_list"></ul>
            </div>
            <br><br>
            <div class="education">
                <div class="education_title">
                    <img src="~/images/amblem.png" alt="" />
                    <span style="color: #ffffff">Kaynak Eğitimleri</span>
                </div>
                <br />
                <div class="education_content">
                    <p style="max-width: 900px">
                        Eğitimi gelişmenin temel koşulu olarak gören ve buradan hareketle
                        1961'den beri aralıksız olarak kaynak eğitimleri düzenleyen Atalay
                        Kaynak, bu konudaki faaliyetlerini her yıl geliştirerek kaynak
                        sektörünün hizmetine sunmaktadır.
                    </p>

                    <div class="title_buttons">
                        <button class="radius_btn">
                            <span><i class="fa-solid fa-arrow-left"></i></span>
                        </button>
                        <button class="radius_btn">
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                        </button>
                    </div>
                </div>
                <div class="gallery">
                    <img class="gal_1" src="~/images/img3.png" alt="" />
                    <div class="gal_info">
                        <div class="gal_info_title">
                            <span style="color: #db650f">01</span>
                            <br /><br />
                            <div class="gal_info_content">
                                <h2 style="color: #ffffff">Örtülü Elektrod ile Kaynak</h2>
                                <br />
                                <p>
                                    Uzman ekibimiz, işinizin ihtiyaçlarına özel kaynak çözümlerini
                                    sizinle birlikte belirleyerek yatırımınızdan en yüksek verimi
                                    almanızı sağlar.
                                </p>

                                <br />
                                <div class="custom_button white">
                                    <div style="width: 180px" class="btn_left">DETAYLI BİLGİ</div>
                                    <div class="btn_right">
                                        <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <img class="gal_1" src="~/images/img4.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="news">
    <div class="container">
        <div class="news_content">
            <div class="products_title" style="align-items: center">
                <div class="pt_left">
                    <h2 style="font-size: 2.2em; color: #ef7923; font-weight: bold">
                        Atalay <span style="color: #221f1e">'dan</span>
                        <span style="font-weight: normal; color: #221f1e">Son Gelişmeler</span>
                    </h2>
                </div>
                <div class="pr_title">
                    <h2 style="color: #221f1e;" class="subtitle_2">
                        TÜMÜNÜ GÖR <i class="fa-solid fa-arrow-right i_title"></i>
                    </h2>
                </div>
            </div>

            <div class="new_content">
                <ul id="news_list" class="news_list">

                </ul>
            </div>
        </div>
    </div>
</div>


<script src="~/js/home.js"></script>